@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Counter-Strike: Global Offensive Stat Tracker </h1>
    <p>Search and compare your stats against your friends!</p>
    <br /><br /><br />
</div>
<div class="text-body">
    <h2 class="display-5">What is Counter-Strike: Global Offensive?</h2>
    <p>Counter-Strike: Global offensive is a massive first person shooter game by the game valve.
        The main goal in the game is to stop the other team from completing their objective while staying alive.
        The most common mode in this game is competitive, which involves two teams, Counter Terrorists and Terrorists.
        Each team is made up of 5 players and the objective is for each team to stop the others from completing their objectives.
        I.E Counter Terrorists must stop the Terrorists from planting the bomb on a bomb site and defuse the bomb before it explodes.
    </p>
</div>
